asgiref==3.7.2
certifi==2024.2.2
distlib==0.3.7
Django==4.2.6
djangorestframework==3.15.2
filelock==3.12.4
gunicorn==21.2.0
mysqlclient==2.2.1
packaging==23.2
Pillow==10.1.0
pipenv==2023.12.1
platformdirs==3.11.0
psycopg2-binary==2.9.9
setuptools==69.5.1
sqlparse==0.4.4
virtualenv==20.24.5
whitenoise==6.6.0
